form#donate-form
	input(type='text', id='donation-name', name='name', placeholder='Donation Name', required)
	input(type='text', id='donation-image', name='image', placeholder='Image URL', required)
	input(type='text', id='donation-description', name='description', placeholder='Description', required)
	input(type='submit', value='Create')