form#donation-form
	div.form-group
		label(for='donation-name') Name
		input#donation-name.form-control(type='text', name='name', placeholder='Enter donation name')
	div.form-group
		label(for='donation-description') Description
		textarea#donation-description.form-control(name='description', rows='3', placeholder='Enter donation description')
	div.form-group
		label(for='donation-image') Image
		//- input#image.form-control-file(type='file', name='image')
		input#donation-image.form-control(type='text', name='image', placeholder='Image url')
	button#donation-submit-btn(type='submit') Create