header.header
    h1 Donation Application System
    ul.nav
        if loggedUser
            li
                a(href='/home') Home
            li
                a(href='/search') Search
            li
                a(href='/donate') Donate
            li
                a(href='/profile') Profile
            //- logout btn logout-btn
            li
                button#logout-btn(type='button') Logout
        else
            li
                a(href='/login') Login
            li
                a(href='/register') Register