header.header
    h1 Donation Application System
    ul.nav
        if loggedUser
            li
                a(href='/home') Home
            li
                a(href='/donate') Donate
            if loggedUser.role === 'admin'
                li
                    a(href='/admin/dashboard') Admin
            else
                li
                    a(href='/profile') Profile
            li
                button#logout-btn(type='button') Logout
        else
            li
                a(href='/login') Login
            li
                a(href='/register') Register