extends layout

block content
	#dashboard
		.details
			.image
				img(src='/images/admin/admin-1.png' alt='user')
			.name
				h2 #{loggedUser.fname} #{loggedUser.lname}
			.email
				h3 #{loggedUser.email}
		.actions
			h3 Admin Actions

			ul
				li
					a(href='/organizations/create')
						img(src='/images/admin/organization.png' alt='organization')
						span  Create Organization
				li
					a(href='/donate')
						img(src='/images/admin/donate.png' alt='donation')
						span  Create Donation
				li
					a(href='/users')
						img(src='/images/admin/users.png' alt='users')
						span  View Users
				li
					a(href='/organizations')
						img(src='/images/admin/organization.png' alt='organization')
						span  View Organizations
				li
					a(href='/donations')
						img(src='/images/admin/donations.png' alt='donation')
						span  View Donations
		.actions#account
			h3 Account Actions

			include _account_form