extends layout

block content
    //- h1= title
    div#donations
        div#donation-form
            h2 Create a new donation
            
            include _donation_form
        
        div#donation-items
            h2 All donations
            ul#donation-list
                each donation in donations
                    li
                        a(href='/donations/' + donation._id)
                            img(src=donation.image, alt=donation.name)
                            h3= donation.name
                            p= donation.description