extends layout

block content
	#dashboard
		.details
			.image
				img(src='/images/admin/admin-1.png' alt='user')
			.name
				h2 #{loggedUser.fname} #{loggedUser.lname}
			.email
				h3 #{loggedUser.email}
		.actions
			h3 User Actions

			ul
				li
					a(href='/donate')
						img(src='/images/admin/donate.png' alt='donation')
						span  Create Donation
				li
					a(href='/donations/me')
						img(src='/images/admin/donations.png' alt='donation')
						span  My Donations