footer.footer
    p &copy; 2018 The Donation App
    p
        a(href="/about") About
        | &nbsp;|&nbsp;
        a(href="/contact") Contact
        | &nbsp;|&nbsp;

    p.copy
        | Powered by
        a(href="https://github.com/hassanShakur/donation-app") The Donation App
        | &nbsp;|&nbsp;