header.header
    h1 Donation Application System
    ul.nav
        li
        a(href='/') Home
        li
        a(href='/search') Search
        li
        a(href='/donate') Donate
        li
        a(href='/profile') Profile
        li
        a(href='/login') Login
        li
        a(href='/logout') Logout