extends layout

block content
    //- h1= title
    div#donations
        div#donation-form
            h2 Create a new donation
            
            form#donate-form
                input(type='text', id='name', name='name', placeholder='Donation Name', required)
                input(type='text', id='image', name='image', placeholder='Image URL', required)
                input(type='text', id='description', name='description', placeholder='Description', required)
                input(type='submit', value='Create')
        
        div#donation-items
            h2 All donations
            ul#donation-list
                //- each donation in donations
                //-     li
                //-         a(href='/donations/' + donation._id)
                //-             img(src=donation.image, alt=donation.name)
                //-             h3= donation.name
                //-             p= donation.description

                //- create test donations for now
                each index in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    li
                        a(href='/donations/' + index)
                            img(src='https://source.unsplash.com/random/' + index, alt='Test donation')
                            h5 Test donation
                            p Test description