html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Donation App")
        meta(name="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/images/favicon/favicon.ico", type="image/x-icon")
        
        link(rel="stylesheet", href="/css/style.css")
        title= title
    body 

        include _header

        block content
            h1 A placeholder for content

        include _footer

        //- js link
        script(src="/js/login.js")
        script(src="/js/register.js")