extends layout 

block content

    div#login
        include _authtext

        form.auth-form#login-form
            h1 Login

            p
                label(for='username') Email
                br
                input(type='username', id='username', name='username', placeholder='jane@doe.com', required)
            p
                label(for='password') Password
                br
                input(type='password', id='password', name='password', placeholder='৹৹৹৹৹৹৹৹', required)
            p
                input(type='submit', value='Login')

            div.go-to
                p Don't have an account?
                a(href='/signup') Register here