extends layout 

block content
    div#login
        h1 Login

        form.auth-form#login-form
            p
                label(for='username') Username
                br
                input(type='username', id='username', name='username', required)
            p
                label(for='password') Password
                br
                input(type='password', id='password', name='password', required)
            p
                input(type='submit', value='Login')

        div.go-to
            p Don't have an account?
            a(href='/register') Register here