extends layout

block content
    h1 Register

    form#register-form
    p
        label(for='username') Username
        br
        input(type='username', id='username', name='username', required)
    p
        label(for='password') Password
        br
        input(type='password', id='password', name='password', required)
    p
        input(type='submit', value='Register')

    div
        p Already have an account?
        a(href='/login') Login here