extends layout

block content
    div#register
        include _authtext


        form.auth-form#register-form
            h1 Register

            p
                label(for='username') Email
                br
                input(type='username', id='username', name='username', placeholder='jane@doe.com', required)
            p
                label(for='password') Password
                br
                input(type='password', id='password', name='password', placeholder='৹৹৹৹৹৹৹৹', required)
            p
                input(type='submit', value='Register')

            div.go-to
                p Already have an account?
                a(href='/login') Login here