:root {
  --pri-color: #0075ff;
  --pri-light: #0077ffdb;
  --sec-color: #ff7900;
  --sec-light: #ff7700d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 1rem;
}

header ul li a {
  text-decoration: none;
  color: #333;
}

header ul li a:hover {
  color: #000;
}

/* Register & login */

#register,
#login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 80%;
  padding: 5rem;
  margin: 0 auto;
}

#register h1,
#login h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.auth-form {
  width: 400px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form p {
  margin-bottom: 1rem;
}

.auth-form label {
  display: block;
  margin-bottom: 0.2rem;
}

.auth-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form input[type='submit'] {
  margin-top: 1rem;
  background-color: var(--pri-color);
  color: #fff;
  cursor: pointer;
}

.auth-form input[type='submit']:hover {
  background-color: var(--pri-light);
}

.auth-text {
  display: grid;
  gap: 1rem;
}

.auth-text h2 {
  font-size: 1.6rem;
}

.auth-text p {
  font-size: 0.8rem;
  opacity: 0.6;
  line-height: 2;
}

.go-to {
  margin-top: 1rem;
  text-align: center;
}

.go-to p {
  margin-bottom: 0.5rem;
}

.go-to a {
  text-decoration: none;
  color: #333;
}

.go-to a:hover {
  color: #000;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 140px;
  background-color: var(--pri-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

footer h4 {
  font-size: 1.5rem;
}

footer p {
  font-size: 0.8rem;
}

/* Donations page */
#donations {
  display: grid;
  align-items: center;
  height: auto;
  width: 90%;
  padding: 3rem;
  margin: 0 auto;
}

#donation-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  gap: 2rem;
  background-color: #3b74b5;
  color: #fff;
  border-radius: 5px;
}

#donate-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#donate-form input {
  width: 20%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#donate-form input[type='submit'] {
  width: 10%;
  margin-top: 0;
  background-color: var(--sec-color);
  color: #fff;
  cursor: pointer;
}

#donate-form input[type='submit']:hover {
  background-color: var(--sec-light);
}

#donation-list {
  /* make the number of columns dynamic */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

#donation-list h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#donation-list li {
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#donation-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}

#donation-list li a:hover {
  color: #000;
}

#donation-list li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

#donation-list li h5 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#donation-list li p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  opacity: 0.6;
  line-height: 2;
}
